@use 'src/styles/abstracts' as *;

.Card {
  display: flex;
  flex-direction: column;
  padding: $space-lg;
  border: $border-grey;
  border-radius: $border-radius-lg;
  background: $white;
  width: 100%;
  &__header {
    margin-bottom: $space-md;
    display: flex;
    flex-direction: column;
    &__subTitle {
      margin-top: $space-xxxs;
      margin-bottom: $space-xxxs;
    }
    &__loadMoreButton {
      margin-top: $space-md;
      margin-bottom: $space-sm * -1;
      max-width: 7rem;
      margin-left: 0;
    }
  }
  &__tableWrapper {
    height: toRem(356px);
  }
}
