@use 'src/styles/abstracts' as *;
.MultipleAxesPropsPopover {
    width: 24.375rem;
    padding: $space-xs;
    padding-bottom: 0px;
    &__divider {
      border-bottom: 1px solid;
      color: #00000042;
      margin: $space-xs 0;
    }
}

.react-select__menu-list {
    max-height: 200px;
    overflow-y: auto; 
  }
  
  .react-select__value-container {
    max-height: 100px;
    overflow-y: auto !important;
  }
  .react-select__indicators {
    max-height: 100px;
    overflow-y: auto;
  }